.container__menu__title {
  color: white;
}

.container__menu__title h1 {
  margin: 15px 0;
  font-size: 135px;
  display: flex;
  justify-content: center;

  /* font-weight: bold; */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.container__menu__title hr {
  margin: 20px 0;
}
