<main class="container">
  <hr />
  <section>
    <img src="{{ photoCover }} " alt="{{ contentTitle }}" />
    <h2>{{ contentTitle }}</h2>
    <p>{{ contentDescription }}</p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, pariatur
      alias delectus similique eaque sint a reprehenderit, laborum, placeat
      deleniti adipisci distinctio quo praesentium autem minima magnam dolores
      exercitationem culpa doloribus inventore! Beatae autem consectetur cum at
      odit quae facere quibusdam corrupti, minima, sequi non corporis repellat
      error. Dicta modi quam repellat illo saepe quis minus in, numquam fugit
      placeat accusantium cumque voluptatum autem nobis libero nulla adipisci
      minima distinctio perferendis magnam tempora culpa. Deleniti voluptas
      odio, aliquam aspernatur quidem fugit asperiores obcaecati? Temporibus,
      cumque quis mollitia perspiciatis reiciendis eos perferendis voluptatem,
      repellat dolorum minus, at eaque quos. Minima, minus!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil tenetur ut
      reiciendis minus sint laboriosam culpa, rerum amet cum labore dicta
      aliquam cumque facilis iure? Rem recusandae laudantium maiores corporis
      enim autem, nesciunt nemo quia, cum veniam officiis illum fugit iusto,
      quidem rerum velit. Minus rem consequuntur optio adipisci! Cum quae
      reprehenderit soluta ab nam dolorum culpa, ullam explicabo, mollitia
      laborum facere saepe totam repellendus in possimus molestiae blanditiis,
      magnam maiores consequatur autem tenetur a! Vero in porro necessitatibus
      veritatis ipsa odit tempore repellat culpa. Ipsum, nesciunt corrupti
      ratione molestias quasi alias quia nobis. Eius eum voluptas tempore
      accusantium corporis.
    </p>
  </section>
</main>
