section {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding: 15px 0 30px 0;
}

hr {
  margin-bottom: 20px;
}

div ul {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

div app-small-card:not(:first-child) {
  border-top: 2px solid darkgray;
  padding-top: 18px;
}
