<div class="container">
  <app-title></app-title>
</div>
<main class="container">
  <section>
    <div>
      <app-big-card
        id="1"
        photoCover="https://cdn1.epicgames.com/offer/ea73c08ac633414584e281f838b3a78c/EGS_MarvelsMidnightSuns_FiraxisGames_S1_2560x1440-2f3d597f3afd9e9fd4cea1df3394705e"
        cardTitle="Confronte o lado mais sombrio do Universo Marvel"
        cardDescription="Marvel's Midnight Suns é um verdadeiro crossover que combina uma história
      fenomenal, relações entre personagens, personalização e um RPG com
      estratégia tática e mecânica de combate..."
      ></app-big-card>
    </div>
    <div>
      <ul>
        <app-small-card
          id="10"
          photoCover="https://cdn2.unrealengine.com/thecyclefrontier-egs-news-post-season1-share-1920x1080-1920x1080-1e5f95fa502e.png"
          cardTitle="The Cycle: Frontier"
          cardDescription="The Cycle: Frontier quer terminar esse ano em clima de festa com o novo evento Frosty Frontier Fest 2022! Ao participar da Promoção..."
        ></app-small-card>
        <app-small-card
          id="11"
          photoCover="https://cdn2.unrealengine.com/rl-fastx-keyart-16x9-4k-3840x2160-9411bf123c92.jpg"
          cardTitle="Dodge Charger SRT Hellcat"
          cardDescription="Não é a primeira vez que Fast & Furious aparece no Rocket League, e desta vez trouxemos todos os clássicos. Domine a Arena com o Nissan Skyline.."
        ></app-small-card>
        <app-small-card
          id="12"
          photoCover="https://cdn2.unrealengine.com/header-image-1920x1080-12f18b90b536.png"
          cardTitle="Star Trek Online"
          cardDescription="Após mais de um ano de histórias épicas e reviravoltas, a batalha final chegou à Epic Games Store! Torne-se um capitão em Star Trek..."
        ></app-small-card>
      </ul>
    </div>
  </section>
  <hr />
  <section>
    <div>
      <ul>
        <app-small-card
          id="13"
          photoCover="https://cdn2.unrealengine.com/hands-on-vanilla-ice-crime-boss-rockay-city-hielo-2048x1024-27e5de21a897.png"
          cardTitle="TCrime Boss: Rockay City"
          cardDescription="As coisas mudam quase que imediatamente quando passamos pelas pranchas de stand up paddle, pelos corredores e pela multidão de pessoas..."
        ></app-small-card>
        <app-small-card
          id="14"
          photoCover="https://cdn2.unrealengine.com/fl-launch-trailer-thumbnail-1920x1080-en-1920x1080-4229f17f7c93.jpg"
          cardTitle="Deliver Us Mars"
          cardDescription="A mistura de aventura de ficção científica cinemática com participação pessoal épica, Deliver Us Mars, sequência de Deliver Us The Moon..."
        ></app-small-card>
        <app-small-card
          id="15"
          photoCover="https://cdn2.unrealengine.com/mms---blog---hero-image-1920x1080-1920x1080-cead72e6f1a1.jpg"
          cardTitle="Marvel's Midnight Suns"
          cardDescription="Morbius chega sorrateiramente à Abadia como um novo personagem jogável em Marvel's Midnight Suns! Disponível como o terceiro de..."
        ></app-small-card>
      </ul>
    </div>
    <div>
      <app-big-card
        id="2"
        photoCover="https://cdn2.unrealengine.com/magic-shooter-immortals-of-aveum-was-inspired-by-call-of-duty-but-aims-for-much-more-3840x2160-beb64252b9ae.png"
        cardTitle="Chegou o tal esperado Immortals of Aveum"
        cardDescription="Em Immortals of Aveum, os jogadores mergulharão em uma campanha para um jogador com mais de 25 horas repleta de cores e ação neste jogo tão esperado pelos fães da série.."
      ></app-big-card>
    </div>
  </section>
  <hr />
</main>
