<div app-menu-bar>
  <img
    src="https://static.vecteezy.com/ti/vetor-gratis/t2/5020106-ninja-fantasma-mascote-logotipo-jogo-ilustracao-fantasma-vetor.jpg"
    alt="logotipo"
  />
  <nav>
    <ul>
      <li><a [routerLink]="['']">HOME</a></li>
      <li><span>•</span></li>
      <li><a [routerLink]="['content']"> MÍDIA</a></li>
      <li><span>•</span></li>
      <li><a [routerLink]="['']">EM ALTA</a></li>
      <li><span>•</span></li>
      <li><a [routerLink]="['']">NOTÍCIAS</a></li>
      <li><span>•</span></li>
      <li><a [routerLink]="['']">ATUALIZAÇÕES</a></li>
    </ul>
  </nav>
</div>
